body {
    color: antiquewhite;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

a{
    color: black;
    text-transform: none;
}

img{
    width: 1500px;
    height: 1000px;

}
